{{#partial "content"}}
    <div class=" container-fluid">
        <div class="row">
            <div class="col-md-2">
                <p>ANIMALS</p>
            <p>{{#each endangered}}
                <h5>{{name}}</h5>
            {{/each}}<br>

                </p>
            </div>
            <div class="col-md-2">
                <p>ANIMAL LOCATION</p>
                {{#if allSightings}}
                    {{#each allSightings}}
                        <p>{{location}}</p>
                    {{/each}}
                {{else}}
                    <p>No sighting</p>
                {{/if}}
            </div>
            <div class="col-md-2">
                <p>RANGER NAME</p>
                {{#if allSightings}}
                    {{#each allSightings}}
                        <p>{{ranger_name}}</p>
                    {{/each}}
                {{else}}
                    <p>No sighting</p>
                {{/if}}
            </div>
            <div class="col-md-2">
                <p>HEALTH OF ANIMAL</p>
                {{#if endangered}}
                    {{#each endangered}}
                        <p>{{health}}</p>
                    {{/each}}
                {{/if}}
            </div>
            <div class="col-md-2">
                <p>AGE OF ANIMAL</p>
                {{#if endangered}}
                    {{#each endangered}}
                        <p>{{age}}</p>
                    {{/each}}
                {{/if}}
            </div>
            <div class="col-md-2">
                <p>TIME</p>
                {{#if allSightings}}
                    {{#each allSightings}}
                        <p>{{date}}</p>
                    {{/each}}
                {{else}}
                    <p>No sighting</p>
                {{/if}}
            </div>
        </div>
    </div>{{/partial}}{{> layout.hbs}}

